<div class="modal" id="saveStateModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5">Savestate limits (0 = unlimited):</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body p-1">
                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <label for="savestate_total_saves">Total Saves:</label>
                    </div>
                    <div class="col-lg-3 m-2">
                        <input type="text" class="form-control door-count" name="savestate_total_saves" id="savestate_total_saves" value="0" onchange="saveStateSettingsChanged()">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <label for="savestate_total_loads">Total Loads:</label>
                    </div>
                    <div class="col-lg-3 m-2">
                        <input type="text" class="form-control door-count" name="savestate_total_loads" id="savestate_total_loads" value="0" onchange="saveStateSettingsChanged()">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <label for="savestate_checkpoint_saves">Checkpoint Saves:</label>
                    </div>
                    <div class="col-lg-3 m-2">
                        <input type="text" class="form-control door-count" name="savestate_checkpoint_saves" id="savestate_checkpoint_saves" value="0" onchange="saveStateSettingsChanged()">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <label for="savestate_checkpoint_loads">Checkpoint Loads:</label>
                    </div>
                    <div class="col-lg-3 m-2">
                        <input type="text" class="form-control door-count" name="savestate_checkpoint_loads" id="savestate_checkpoint_loads" value="0" onchange="saveStateSettingsChanged()">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

